<div className="absolute grid grid-cols-2 gap-x-10 md:gap-x-40">
    <span className="flex flex-col gap-15 mt-10">
        <Glass nombre="1M+" description="Heures de code" />
        <Glass nombre="140+" description="Projets réalisés" />
    </span>
    <span className="flex flex-col gap-35 md:gap-30">
        <Glass nombre="500+" description="Clients satisfaits" />
        <Glass nombre="10+" description="Ans d'expérience" />
    </span>
</div>
<div
    className="size-140 rounded-full bg-radial from-primary/50 to-primary/30 absolute -right-60 z-1"
></div>
